@charset "utf-8";

/* font setting */

@font-face {
    font-family: "humanbeomseok";
    src: url("../assets/fonts/humanbeomseok.ttf");
}

#search-button {
    width: 30px;
    height: 30px;
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    color: #FFFFFF;
}

#search-button svg {
    width: 20px;
    height: 20px;
}

.upload-btn-wrapper {
    position: relative;
    display: inline-block;
    align-items: center;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.div1 {
    grid-area: 6 / 1 / 7 / 2;
    align-self: flex-end;
}
.div2 {
    grid-area: 6 / 2 / 7 / 3;
    align-self: flex-end;
}
.div3 {
    grid-area: 6 / 4 / 7 / 5;
    align-self: flex-end;
}
.div4 {
    grid-area: 6 / 5 / 7 / 6;
    align-self: flex-end;
}
.div5 {
    grid-area: 5 / 1 / 6 / 2;
    align-self: flex-end;
}
.div6 {
    grid-area: 5 / 2 / 6 / 3;
    align-self: flex-end;
}
.div7 {
    grid-area: 5 / 4 / 6 / 5;
    align-self: flex-end;
}
.div8 {
    grid-area: 5 / 5 / 6 / 6;
    align-self: flex-end;
}
.div9 {
    grid-area: 4 / 1 / 5 / 2;
    align-self: flex-end;
}
.div10 {
    grid-area: 4 / 2 / 5 / 3;
    align-self: flex-end;
}
.div11 {
    grid-area: 4 / 3 / 5 / 4;
    align-self: flex-end;
}
.div12 {
    grid-area: 4 / 4 / 5 / 5;
    align-self: flex-end;
}
.div13 {
    grid-area: 4 / 5 / 5 / 6;
    align-self: flex-end;
}
.div14 {
    grid-area: 3 / 1 / 4 / 2;
    align-self: flex-end;
}
.div15 {
    grid-area: 3 / 2 / 4 / 3;
    align-self: flex-end;
}
.div16 {
    grid-area: 3 / 3 / 4 / 4;
    align-self: flex-end;
}
.div17 {
    grid-area: 3 / 4 / 4 / 5;
    align-self: flex-end;
}
.div18 {
    grid-area: 3 / 5 / 4 / 6;
    align-self: flex-end;
}
.div19 {
    grid-area: 2 / 1 / 3 / 2;
    align-self: flex-end;
}
.div20 {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-end;
}
.div21 {
    grid-area: 2 / 3 / 3 / 4;
    align-self: flex-end;
}
.div22 {
    grid-area: 2 / 4 / 3 / 5;
    align-self: flex-end;
}
.div23 {
    grid-area: 2 / 5 / 3 / 6;
    align-self: flex-end;
}
.div24 {
    grid-area: 5 / 3 / 6 / 4;
    grid-row: 5 / span 2;
    align-self: flex-end;
}
.div25 {
    grid-area: 1 / 3 / 2 / 4;
    align-self: flex-start;
}


.custom-radios div {
    display: inline-block;
  }
  .custom-radios input[type=radio] {
    display: none;
  }
  .custom-radios input[type=radio] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .custom-radios input[type=radio] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
  }
  .custom-radios input[type=radio] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
  }
  .custom-radios input[type=radio]:checked + label span img {
    opacity: 1;
  }